*{
    margin: 0;
}

body {    
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#container{
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
    display:inline-block;
    overflow: hidden;
    /* background-image: url('main_media/bgColor.svg'); */
    background-size: cover;
    background-repeat: repeat-x;
}

#bgColor1{
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: #80D6CA;
    height: 22.5%;
    z-index: -10;

}

#bgColor2{
    width: 100vw;
    position: absolute;
    top: 22.5%;
    left: 0;
    height: 100vh;
    background-color: #95CE3D;
    z-index: -10;
} 

#imageContainer{
    position: relative;
    display:inline-block;
    overflow: hidden;
}

#parkBg {
    width: auto;
    height: 80vh;
    z-index: 10;
}

h2 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 3em;
    color: white;
    margin-top: 50px;

    animation: fadeIn 2s;
}


/* icons link to webpages */
#home {
    position: absolute;
    z-index: 20;
    width: 25%;
    top: 20%;
    left: 15%;
    cursor: pointer;
}

#home:hover {
    animation: shake 400ms ease-in-out infinite alternate;
}

#draw1 {
    position: absolute;
    z-index: 20;
    width: 28%;
    top: 25%;
    right: 170px;
    cursor: pointer;
}

#draw1:hover {
    animation: shake 400ms ease-in-out infinite alternate;
}

#draw2 {
    position: absolute;
    z-index: 20;
    width: 25%;
    bottom: 33%;
    right: 20%;
    cursor: pointer;
}

#draw2:hover {
    animation: shake 400ms ease-in-out infinite alternate;
}

#draw3 {
    position: absolute;
    z-index: 20;
    width: 28%;
    bottom: 33%;
    left: 15%;
    cursor: pointer;
}

#draw3:hover {
    animation: shake 400ms ease-in-out infinite alternate;
} 

@keyframes shake {
    0% { transform: rotateZ(0deg);}
    50% {transform: rotateZ(5deg);}
    100% { transform: rotateZ(0deg);}
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    } 
}

.hidden {
    animation: fadeOut 0.2s forwards;
}

.show {
    animation: fadeIn 1s forwards;
}