
*{
    margin: 0;
}

body {    
    width: 100vw;
    height: 100%;
    text-align: center;
}

/*.greeting {
    animation: 
    typing 4.5s steps(30, end),
    zoom .5s ease-in;
  }
  */
/* hover zoom in */

#container{
    width: 100%;
    height: 50%;
    font-size: 72px;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
}

#background{
  z-index:-1;
}

#display{
    position: absolute;
    width: 100%
    font-size: 500px;
    text-align:center;
    margin: 0px auto;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

.buttons{
    text-align: center;
}
/* clock icon */
/*#clock {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.clock {
    transition: transform .2s;
}
.clock:hover {
    transform: scale(1.1);
}*/


/* sunny day background */

#boy{
    position: absolute;
    left: 50px;
    bottom: 0px;
    width: 50px;
    height: 100%;
    height: auto;
    z-index: 100;
    animation: upanddown 1s linear infinite;

}


p {
    position: absolute;
    width: auto;
    text-align: center;
    color: white;
    font-family: 'Walter Turncoat', cursive;
    top: 350px;
    right: 320px;
    z-index: 11;
    animation: jogging 1s ease-in-out infinite alternate, fadeIn 2s;
}

@keyframes upanddown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
}

/*.fadeOut {
    animation: fadeOut 2s;
}*/
